*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header{
    height: 500px;
    width: 100%;
    background-color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-1{
    height: 100px;
    width: 100px;
    text-align: center;
    background-color: green;
    
}