*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.heading{
    height: 300px;
    width: 100%;
    background-color: #333;
}

.box-2{
    height: 100px;
    width: 100px;
    background-color: blue;
}